@charset "UTF-8";

/*
    Paleta de cores: 
    #A7CFF2
    #324001
    #465902
    #AFBF30
    #BFA77A
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #324001;
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#login{
    align-self: center;
    background-color: #AFBF30;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#login #imagem{
    display: flex;
    background: #324001 url(../img/pexels-eva-bronzini-5501828.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

#login #formulario{
    display: flex;
    padding: 10px;
    flex-direction: column;
}

#login #formulario h1{
    text-align: center;
    margin-bottom: 10px;
}

#login #formulario p{
    font-size: 0.8em;
}

form .campo{
    display: flex;
    background-color: #324001;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border-radius: 8px;
    padding: 2px;
}

form .campo i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form .campo input{
    border: none;
    background-color: #AFBF30;
    font-size: 1em;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 4px;
}

form .campo input:focus-within{
    background-color: white;
}

form .campo label{
    display: none;
}

form input[type=submit]{
    display: block;
    border: none;
    background-color: #857455;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    transition: .5s;
}

form input[type=submit]:hover{
    cursor: pointer;
    background-color: #BFA77A;
}

form .botao-forgot{
    display: block;
    border: none;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #BFA77A;
    padding-top: 5px;
    margin-top: 5px;
    transition: .5s;
}

form .botao-forgot:hover{
    background-color: #BFA77A;
}

form .botao-forgot i{
    font-size: 0.8em;
}